* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(25, 25, 25); */
    background-image: url('images/bg-rock-paper.avif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    height: 100vh;
}


.heading {
    font-size: 30px;
    font-weight: bold;
}

.image {
    width: 50px;
}

.imgBtn {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 60px;
    margin-right: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
}

.score {
    margin-top: 60px;
}

.resetBtn {
    font-size: 15px;
    font-weight: bold;
    padding: 0.8em 2.5em;
    margin-top: 20px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.resetBtn:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.resetBtn:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    body {
        background-image: url('images/rock-paper-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-blend-mode: darken;
    }

    .imgBtn {
        width: 100px;
        height: 100px;
    }
}